<div id="reclain-brochure" class="ui equal width left aligned padded grid stackable">
  <div class="stretched row">
    <!-- detail-box -->
    <div class="sixteen wide tablet twelve wide computer column">
      <resource-info-box />
    </div>
    <!-- /detail-box -->
    <!-- cover-box -->
    <div class="sixteen wide tablet four wide computer column">
      
    </div>
    <!-- /cover-box -->
  </div>
  <!-- /first-row -->
  <!-- content-box -->
  
  <!-- /content-box -->
</div>